.DatePicker {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 8px;
  border-radius: 8px;
  width: 320px;
}

.DatePickerCalendar__row {
  display: flex;
}

.DatePickerCalendar__header {
  margin-bottom: 8px;
  display: flex;
}

.DatePickerCalendar__cell {
  padding: 4px;
  width: 38px;
  height: 38px;
  margin: 0 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DatePickerCalendar__dayCell {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.DatePickerCalendar__dayCell:not(.DatePickerCalendar__dayCell_selected):hover {
  background-color: #e9e9e9;
}

.DatePickerCalendar__dayCell:active {
  background-color: #d1d1d1;
}

.DatePickerCalendar__dayCell_selected {
  background-color: #0036cc;
  color: #fff;
}

.DatePickerSelector {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 42px;

  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 8px;
}

.DatePickerSelector__icon {
  width: 26px;
  height: 26px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DatePickerSelector__icon:hover {
  background-color: #e0e0e0;
}

.DatePickerSelector__iconLeft {
  transform: rotate(90deg);
}

.DatePickerSelector__iconRight {
  transform: rotate(-90deg);
}
