@font-face {
  font-family: "ko-iconfont";
  src: url("../fonts/icons/ko-iconfont.eot");
  src: url("../fonts/icons/ko-iconfont.eot#iefix") format("embedded-opentype"),
    url("../fonts/icons/ko-iconfont.ttf") format("truetype"),
    url("../fonts/icons/ko-iconfont.woff") format("woff"),
    url("../fonts/icons/ko-iconfont.svg#ko-iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
