@font-face {
  font-family: "SFProDisplay";
  src: url("../public/fonts//SFProDisplay.woff2") format("woff2"),
    url("../public/fonts//SFProDisplay.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SFProDisplay";
}

.jenea {
  color: violet;
}
