@font-face {
    font-family: 'SFProDisplay';
    src: url('./fonts/SFProDisplay/SFProDisplay.woff2') format('woff2'),
        url('./fonts/SFProDisplay/SFProDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
